################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/SimpleWorldTL/.vs/SimpleWorldTL/FileContentIndex/5ec9ee9d-f0e4-42ae-8d84-0ebc9042e48c.vsidx
/SimpleWorldTL/.vs/SimpleWorldTL/FileContentIndex/687de646-24ff-4faf-b3a2-0ecfadda23f7.vsidx
